/* styleshee for Personal Portfolio freeCodeCamp project */
* {
    box-sizing: border-box;
}
:root {
    --site-white: #f5f6f7;
    --site-black: #323232;
    --site-gray: #3b3b3b;
    --site-green: #478361;
    --site-magenta: #85476a;
    --light-green: #e3f0e8;
    --light-magenta: #f0e3ea;
}
html {
    font-size: 62.5%;
    overflow: auto;
}
body {
    font-family: 'Archivo Black', sans-serif;
    color: var(--dark-gray);
    background-color: var(--site-white);
    margin: 0;
    padding: 0;
}
section {
    margin-bottom: 10em;
}
main {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 8.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
h2 {
    font-size: 5.5rem;
}
h3 {
    font-size: 3.5rem;
}
h4 {
    font-size: 2.4rem;
}
p {
    font-size: 2rem;
    line-height: 3rem;
    font-family: Lora, serif;
}
ul {
    list-style: none;
}
/* --- Set GRID and FLEX classes --- */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
/* --- SECTIONS --- */
.project-tile {
    margin-bottom: 5em;
    border: 4px solid var(--site-magenta);
}
.text-content {
    background-color: var(--site-magenta);
    color: var(--site-white);
    padding: 1.4em;
}
.image-content {
    margin: auto;
}
.image-content > img {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.nav-header {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    padding: 1em 3em;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background-color: var(--site-white);
}
.nav-list {
    align-items: center;
    gap: 1.5em;
}
.welcome-section {
    position: relative;
    margin-top: 150px;
    min-height: 100vh;
    background-color: var(--site-green);
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
}
.welcome-headings-container {
    position: absolute;
    top: 10em;
    left: 6em;
}
.welcome-buttons-container {
    position: absolute;
    left: 2em;
    bottom: 30em;
}
.about-tile {
    gap: 3em;
}
#about {
    background-color: var(--light-green);
}
.about-me {
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: var(--site-green);
}
.tech-logo-wrapper {
    margin: 1.4em auto 2em;
}
.photo-frame > img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.profile-wrapper {
    gap: 1.6em;
    margin-bottom: 4em;
}
.footer-container {
    background-color: var(--light-magenta);
    padding: 2em;
}
.big-foot {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}
.little-foot {
    justify-content: space-between;
    align-items: center;
    background-color: var(--site-magenta);
    color: var(--site-white);
    margin: 0;
    padding-left: 2em;
    padding-right: 2em;
}
/* -- LOGOs -- */
.logo {
    width: 178px;
    height: 100px;
}
.tech-logo {
    width: 100px;
    height: 100px;
}
.profile-logo {
    width: 50px;
    aspect-ratio: 1/2;
    height: auto;
}
/* --- NAV LINKS --- */
.nav-links {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--site-black);
}
.nav-links:hover {
    text-decoration: underline overline var(--site-magenta) 4px;
}
/* --- BUTTONS --- */
.call-to-action1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.6rem;
    width: 225px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}
.call-to-action1:hover {
    background-color: var(--site-green);
}
.filled {
    background-color: var(--site-magenta);
    color: var(--site-white);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.no-fill {
    color: var(--site-magenta);
    border: 4px solid var(--site-magenta);
}
.call-to-action2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.4rem;
    width: 165px;
    height: 65px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--site-green);
    color: var(--site-white);
    border: 2px solid var(--site-white);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.cta-buttons-gap {
    gap: 6rem;
}
/* --- FONTS --- */
.subhead {
    font-size: 2rem;
    font-family: 'Archivo Black', sans-serif;
    max-width: 55ch;
    line-height: 3.4rem;
    margin-bottom: 5rem;
}
.intro-text {
    font-size: 5.5rem;
}
.gray {
    color: var(--site-gray);
}
.magenta {
    color: var(--site-magenta);
}
.about-me > p {
    max-width: 45ch;
    font-family: Lora, serif;
    font-size: 2rem;
}
/* --- FORM -- */
.info {
    display: inline-block;
}
.contact-form {
    color: var(--site-gray);
}
.card-img {
    width: 100%;
    display: block;
    object-fit: cover;
}
@media(min-width: 60em) {
}
