/* stylesheet for freeCodeCamp project 5 A Personal Portfolio */
/* fonts */
* {
    box-sizing: border-box;
}
:root {
    --site-white: #f5f6f7;
    --site-black: #323232;
    --site-gray: #3b3b3b;
    --site-green: #478361;
    --site-magenta: #85476a;
    --light-green: #e3f0e8;
    --light-magenta: #f0e3ea;
    --light-gray: #d3d3d3;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--site-white);
}
section {
    padding: 2em 1em;
    margin-bottom: 10em;
}
h1 {
    font: 3.2rem/1 'Archivo Black', sans-serif;
    color: var(--site-black);
    margin-top: 2rem;
    margin-bottom: 1rem;
}
h2 {
    font: 2.8rem 'Archivo Black', sans-serif;
    color: var(--site-black);
}
h3 {
    font: 2.4rem 'Archivo Black', sans-serif;
    color: var(--site-black);
}
label,
h4 {
    font: 2rem 'Archivo Black', sans-serif;
    color: var(--site-black);
}
label {
    display: inline-block;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
p {
    font: 1.6rem/1.5 Lora, serif;
    color: var(--site-black);
    max-width: 45ch;
}
ul {
    list-style: none;
}
.intro-text {
    font: 2.8rem 'Archivo Black', sans-serif;
    color: var(--site-gray);
}
.subhead {
    font: 1.7rem/1.5 'Archivo Black', sans-serif;
    color: var(--site-gray);
}
.bold-text {
    font-family: 'Archivo Black', sans-serif;
}

/* header */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.header-wrapper {
    width: 100%;
    max-width: 100vw;
    height: 250px;
    position: fixed;
    top: 0;
    padding: 1em;
    background-color: var(--site-white);
    z-index: 999;
}
.header-container {
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
}
.logo {
    width: 150px;
    height: auto;
}
.nav-list {
    align-items: center;
    gap: 1.5em;
}
.nav-links {
    text-decoration: none;
    font: 1.6rem 'Archivo Black', sans-serif;
    color: var(--site-black);
}
.nav-links:hover {
    text-decoration: underline overline var(--site-magenta) 4px;
}

/* buttons */
.call-to-action1 {
    font: 1.8rem 'Archivo Black', sans-serif;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.call-to-action1:hover {
    background-color: var(--site-green);
}
.filled {
    background-color: var(--site-magenta);
    color: var(--site-white);
}
.no-fill {
    color: var(--site-magenta);
    border: 2px solid var(--site-magenta);
}
.magenta-shadow {
    box-shadow: rgba(326, 47, 52, 0.25) 0px 14px 28px, rgba(326, 47, 52, 0.22) 0px 10px 10px;
}

/* hero section */
.welcome-section {
    position: relative;
    margin-top: 250px;
    min-height: 100vh;
    max-width: 100vw;
    background-color: var(--site-green);
    background-image: url("../images/hero-img.jpg");
    background-size: cover;
    overflow: hidden;
}
#welcome-section {}
#projects {}
#about {}
#contact {}
.welcome-headings-container {}
.site-gray {
    color: var(--site-gray);
}
.welcome-buttons-container {}
.cta-buttons-gap {
    gap: 1em;
}
.highlight-magenta {
    color: var(--site-magenta);
}

/* projects section */
.grid {
    display: grid;
}
.project-tile {
    margin-bottom: 5em;
    border: 2px solid var(--site-magenta);
    border-radius: 20px;
    overflow: hidden;
}
.image-content {
    padding: 1em;
    margin: auto;
}
.image-content > img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card-img {
    max-width: 100%;
}
.image-content > h3 {
    font-size: 2rem;
}
.text-content {
    background-color: var(--site-magenta);
    padding: 1em;
}
.text-content > h4,
.text-content > p {
    color: var(--site-white);
}
.bold-text {}
.reverse-tile {}
.site-white {
    color: var(--site-white);
}
.call-to-action2 {
    font: 1.8rem 'Archivo Black', sans-serif;
    width: 130px;
    height: 50px;
    border: 2px solid var(--site-white);
    border-radius: 10px;
    background-color: var(--site-green);
    color: var(--site-white);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.call-to-action2:hover {
    background-color: var(--site-white);
    color: var(--site-green);
}

/* about section */
.about-tile {
    border: 2px solid var(--site-green);
    border-radius: 20px;
    overflow: hidden;
}
.photo-frame {
    margin-left: 0;
    margin-top: 0;
}
.photo-frame > img {
    object-fit: cover;
}
.about-me {
    background-color: var(--site-green);
    padding: 1em;
}
.tech-logo-wrapper {
    margin: 1em 1em 4em;
}
.tech-logo {
    width: 75px;
    height: auto;
}

/* contact section */
.profile-wrapper {
}
.profile-logos-container {
    display: inline-block;
}
.profile-link:hover {
    background-color: var(--site-black);
}
.profile-logo {
    width: 50px;
    height: auto;
    margin-right: 2em;
    margin-bottom: 2em;
}
.form-legend {
    font: 2.4rem 'Archivo Black', sans-serif;
    color: var(--site-magenta);1041
}
.site-magenta {}
.light-gray {
    color: var(--light-gray);
}
.contact-form {
    gap: 2em;
}
.message-text,
.info {
    border-radius: 20px;
    border: 1px solid var(--light-gray);
    width: 90%;
    padding: 0 1em 2em;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
#name-label {}
#email-label {}
#name,
#email {
    width: 100%;
    border: 1px solid var(--light-gray);
    border-radius: 20px;
    padding: 1em;
}
#message-label {}
#more-info {
    width: 100%;
    height: 10em;
    border: 1px solid var(--light-gray);
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 2em;
}
#submit {}

/* footer */
.footer-container {
    background-color: var(--light-magenta);
    width: 100vw;
}
.footer-logo {
    width: 100px;
    height: auto;
    padding-bottom: 2em;
}
.big-foot {
    padding: 2em;
}
.little-foot-wrapper {
    padding: 2em;
    background-color: var(--site-magenta);
}
.little-foot-container > p {
    font: 1.6rem 'Archivo Black', sans-serif;
}
#footer-links {
    gap: 1em;
}
#footer-links > li > a:hover {
    text-decoration: underline var(--site-white) 4px;
}
.site-map-links {
    flex-direction: column;
    gap: 2em;
    margin-left: 0;
    padding: 0;
}
.footer-address,
.footer-nav {
    border-bottom: 2px solid #B37196;
    padding-bottom: 2em;
}
@media screen and (min-width: 601px) {
    h1 {
        font-size: 4.8rem;
    }
    .subhead {
        font-size: 2rem;
    }
    .intro-text {
        font-size: 3.2rem;
    }
    .welcome-headings-container {
        margin-bottom: 4em;
    }
    .about-me {
        flex-direction: column;
        margin-right: 0;
    }
    .photo-frame {
    }
    .contact-form {
        justify-content: space-evenly;
        align-items: stretch;
    }
    .message-text,
    .info {
        width: 45%;
    }
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 1em;
    }
    .footer-address,
    .footer-nav {
        border: initial;
    }
    .big-foot {
        grid-template-columns: 1fr minmax(24em, 1fr) 1fr;
    }
    .little-foot-container {
        justify-content: space-between;
        max-width: 90vw;
    }
}
@media screen and (min-width: 900px) {
    .header-wrapper {
        height: 120px;
    }
    .welcome-section {
        margin-top: 120px;
    }
    h1 {
        font-size: 5.5rem;
    }
    .subhead {
        font-size: 2rem;
    }
    .intro-text {
        font-size: 4.2rem;
    }
}
@media screen and (min-width: 1100px) {
    h1 {
        font-size: 6.5rem;
    }
    .intro-text {
        font-size: 4.8rem;
    }
}
@media screen and (min-width: 1300px) {
    h1 {
        font-size: 8.5rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .intro-text {
        font-size: 5.5rem;
    }
}
@media screen and (min-width: 1440px) {
    .big-foot,
    main {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}
